<div class="row">
	<%= form_for @user, html: {class: "custom"} do |f| %>
		<div class="small-6 columns">

			<div class="row collapse">
				<div class="small-4 columns">
					<span class="prefix">username</span>
				</div>
				<div class="small-8 columns">
					<%= f.text_field :username %>
				</div>
			</div>

			<div class="row collapse">
				<div class="small-4 columns">
					<span class="prefix">email</span>
				</div>
				<div class="small-8 columns">
					<%= f.text_field :email %>
				</div>
			</div>
			<br>

			<div class="row collapse">
				<div class="small-4 columns">
					<span class="prefix">phone #</span>
				</div>
				<div class="small-8 columns">
					<%= f.telephone_field :phone_number %>
				</div>
			</div>

			<div class="row collapse">
				<div class="small-4 columns">
					<span class="prefix">
						Carrier
					</span>
				</div>
				<div class="small-8 columns">
					<%= f.select :carrier, [["choose your mobile carrier"],["Bell"],["Telus"],["Rogers"],["Fido"],["Koodo"],["Wind"]], class: "select"%>
				</div>
			</div>
			<br>
			<%= render partial: "layouts/location" %>
		</div>

		<div class="small-6 columns">

			<div class="row collapse">
				<div class="small-5 columns">
					<span class="prefix">password</span>
				</div>
				<div class="small-7 columns">
					<%= f.text_field :password %>
				</div>
			</div>

			<div class="row collapse">
				<div class="small-5 columns">
					<span class="prefix">confirm to change</span>
				</div>
				<div class="small-7 columns">
					<%= f.text_field :password_confirmation %>
				</div>
			</div>
			<br>

			<%= f.submit "save changes", class: "button" %>

			<%= link_to "log out.", session_path, class: "button alert", method: :delete, confirm: 'yea?'%>
		</div>
	<% end %>
</div>