<div class="row">
	<%= form_for @user, html: {class: "custom"} do |f| %>
		<div class="large-6 columns">

			<div class="row collapse">
				<div class="large-4 columns">
					<span class="prefix">username</span>
				</div>
				<div class="large-8 columns">
					<%= f.text_field :username %>
				</div>
			</div>

			<div class="row collapse">
				<div class="large-4 columns">
					<span class="prefix">email</span>
				</div>
				<div class="large-8 columns">
					<%= f.text_field :email %>
				</div>
			</div>
			<br>

			<div class="row collapse">
				<div class="large-4 columns">
					<span class="prefix">phone #</span>
				</div>
				<div class="large-8 columns">
					<%= f.telephone_field :phone_number %>
				</div>
			</div>

			<div class="row collapse">
				<div class="large-4 columns">
					<span class="prefix">
						Carrier
					</span>
				</div>
				<div class="large-8 columns">
					<%= f.select :carrier, [["choose your mobile carrier"],["Bell"],["Telus"],["Rogers"],["Fido"],["Koodo"],["Wind"]], class: "select"%>
				</div>
			</div>
			<br>

			<%= submit_tag 'find my location', :type => 'button', class:"button secondary", id:"find_location" %>

			<%= f.text_area :address %>

			<div class="row collapse">
				<div class="large-6 columns">
					<span class="prefix">
						<%= f.label "longitude" %>
					</span>
				</div>
				<div class="large-6 columns">
					<%= f.telephone_field :longitude %>
				</div>
			</div>

			<div class="row collapse">
				<div class="large-6 columns">
					<span class="prefix">
						<%= f.label "latitude" %>
					</span>
				</div>
				<div class="large-6 columns">
					<%= f.telephone_field :latitude %>
				</div>
			</div>
		</div>


		<div class="large-6 columns">

			<div class="row collapse">
				<div class="large-5 columns">
					<span class="prefix">password</span>
				</div>
				<div class="large-7 columns">
					<%= f.text_field :password %>
				</div>
			</div>

			<div class="row collapse">
				<div class="large-5 columns">
					<span class="prefix">confirm to change</span>
				</div>
				<div class="large-7 columns">
					<%= f.text_field :password_confirmation %>
				</div>
			</div>
			<br>

			<%= f.submit "save changes", class: "button" %>

		</div>
	<% end %>
</div>