<div class="row">
	<%= image_tag(@background) %>
	<div class="large-4 columns push-4" id="description">
		<h1>WeatherTF</h1>
		<h4>tell me what's up.</h4>
		<button data-reveal-id="signup">sign yr self up!</button>
		<button id="cool" data-reveal-id="locate">find me</button>

	</div>

</div>


<div id="signup" class="reveal-modal">
	<div class="row">
		<div class="large-12 columns">
			<%= form_for @user do |f| %>
				<%= f.label "user name" %>
				<%= f.text_field :username %>
				<br>
				<%= f.label "phone number" %>
				<%= f.text_field :phone_number %>
				<br>
				<%= f.label "carrier" %>
				<%= f.select :carrier, [[],["Bell"],["Telus"],["Rogers"]] %>
				<br>
				<%= f.label "password" %>
				<%= f.password_field :password %>
				<br>
				<%= f.label "confirm password" %>
				<%= f.password_field :password_confirmation %>
				<br>
				<%= f.submit "sign up", class: "button" %>
			<% end %>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="locate" class="reveal-modal">
	<div class="row">
		<div class="large-12 columns">
			<p>text</p>
			<script>
				document.write("<p>You are located at " + lat + ", " + lon + ".</p>")
			</script>

		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
