<div class="row">
	<%= image_tag(@background) %>
	<div class="large-4 columns push-4" id="description">
		<h1>WeatherTF</h1>
		<h4>tell me what's up.</h4>
		<button data-reveal-id="signup">Get yrself signed up!</button>
		<button data-reveal-id="login">I am!</button>
	</div>
</div>


<!-- ----------- sign-up form ------------- -->

<div id="signup" class="reveal-modal medium">
	<div class="row">
		<div class="large-12 columns">
			<%= form_for @user, html: {class: "custom"} do |f| %>
				<%= f.label "user name" %>
				<%= f.text_field :username %>
				<br>
				<%= f.label "email" %>
				<%= f.email_field :email %>
				<br>
				<%= f.label "phone" %>
				<div class="row collapse">
					<div class="large-2 columns">
						<span class="prefix">#</span>
					</div>
					<div class="large-10 columns">
						<span data-tooltip="top" class="has-tip tip-top" title="enter your 10-digit number" >
							<%= f.telephone_field :phone_number %>
						</span>
					</div>
				</div>
				<br>
				<%= f.select :carrier, [["choose your mobile carrier"],["Bell"],["Telus"],["Rogers"],["Fido"],["Koodo"],["Wind"]], class: "select"%>
				<br>
				<%= f.label "password" %>
				<%= f.password_field :password %>
				<br>
				<%= f.label "confirm password" %>
				<%= f.password_field :password_confirmation %>
				<br>
				<%= submit_tag 'find my location', :type => 'button', class:"button secondary", id:"find_location" %>
				<div class="row collapse">
					<div class="large-6 columns">
						<span class="prefix">
							<%= f.label "longitude" %>
						</span>
					</div>
					<div class="large-6 columns">
						<%= f.telephone_field :lon %>
					</div>
				</div>
				<div class="row collapse">
					<div class="large-6 columns">
						<span class="prefix">
							<%= f.label "latitude" %>
						</span>
					</div>
					<div class="large-6 columns">
						<%= f.telephone_field :lat %>
					</div>
				</div>

				<%= f.submit "sign up", class: "button" %>
			<% end %>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<!-- ------------ map reveal form (no map) ---------- -->

<div id="login" class="reveal-modal small">
	<div class="row">
		<div class="large-12 columns">
			<%= form_tag sessions_path do %>
				<div class="row collapse">
					<div class="large-4 columns">
						<span class="prefix">username</span>
					</div>
					<div class="large-8 columns">
						<%=  text_field_tag :username, params[:username] %>
					</div>
				</div>
				<div class="row collapse">
					<div class="large-4 columns">
						<span class="prefix">password</span>
					</div>
					<div class="large-8 columns">
						<%= password_field_tag :password %>
					</div>
				</div>
				<%= submit_tag "login", class:"button large-12 columns" %>
			<% end %>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
