<!-- commented-out parts are contained in show.html.erb -->
<!-- <div>
	<table>
		<thead>
			<tr>
				<th>humidity</th>
				<th>precipIntensity</th>
				<th>precipProbability</th>
				<th>precipType</th>
				<th>summary</th>
				<th>temperature</th>
				<th>time</th>
				<th>visibility</th>
				<th>latitude</th>
				<th>longitude</th>
				<th>user_id</th>
			</tr>
		</thead>
		<tbody> -->
			<tr>
				<td title=<%=Time.at(forecast.time).to_datetime%> data-tooltip='true'> <%=time_ago_in_words(Time.at(forecast.time).to_datetime)%> ago
				</td>
				<td><%=forecast.summary%></td>
				<td><%=forecast.precipProbability%></td>
				<td><%=forecast.precipType%></td>
				<td><%=forecast.precipIntensity%></td>
				<td><%=forecast.temperature%></td>
				<td><%=forecast.humidity%></td>
				<td><%=forecast.visibility%></td>
				<!-- <td><%=forecast.latitude%></td> -->
				<!-- <td><%=forecast.longitude%></td> -->
			</tr>
	<!-- 	</tbody>
	</table>
</div>
 -->