<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= full_title(yield(:title))%>
    </title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "modernizr" %>
    <%= javascript_include_tag "pace" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

    <style type="text/css">
      body { background: url(<%= random_bg %>) no-repeat center  90% fixed; }
    </style>
    
    <%= analytics_init if Rails.env.production? %>

  </head>

  <body>

    <%= render 'layouts/flash_messages' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>

  </body> 
</html>
